@define-color background #000000;
@define-color highlight  #00FF80;
@define-color foreground #000000;
@define-color comment    #999999;
@define-color cyan       #00FF80;
@define-color green      #00FF00;
@define-color orange     #FFA500;
@define-color pink       #FF00FF;
@define-color blue       #80FF00;
@define-color red        #FF0000;
@define-color yellow     #FFFF00;

* {
  border: none;
  border-radius: 0;
  font-family: "Hack";
 font-weight : 700;
  font-size: 13px;
  min-height: 16px;
  transition: none;
}


@keyframes blink {
  to {
    background-color: @foreground;
    color: @foreground;
  }
}

#clock, #battery, #cpu, #memory, #disk, #temperature, #backlight, #network, #pulseaudio {
  margin: 0 11px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.good {
  color: @green;
}

#battery.warning {
  color: @orange;
}

#disk{
  color:@green
}

#battery.critical {
  color: @pink;
}

#battery.warning:not(.charging), #battery.critical:not(.charging) {
  padding: 0 10px;
  border-bottom: 3px solid @highlight; 
  background: @red;
  animation-name: blink;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight {
  color: @green;
}

#clock {
  color: @green;
}
#cpu {
  color: @green;
}

#memory {
  color: @green;
}

#network {
  color: @green;
}

#pulseaudio {
  color: @green;
}

#temperature {
  color: @orange;
}

#temperature.critical {
  color: @red;
}
#workspaces button.focused {
  font-weight: bold;
  color: @black;
  background: @green
}
window#waybar {
  background: @background;
  color: @foreground;
  transition-duration: 0.1s;
}

#workspaces button {
  padding: 1 12px;
  background: @black;
  color: @green;
  border-bottom: 2px solid transparent;
}
#language {
  color: @green;
  font-size: 14px;
  padding: 1 10px;
}
#window {
  color: @green;
  font-size: 13px;
  padding: 1 13px;
  margin: 0 13px;
  font-weight: 700; 
}
